/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    --bg-header: #255EE9;
    --bg-body-general: #FFFFFF;
    --bg-body-alternative: #F6F6F6;
    --bg-footer: #23272A;
    --bg-login: #36393f;
    --txt-header-footer: #FFFFFF;
    --txt-body: #0E0E0E;
    --bg-btn-light: #FFFFFF;
    --bg-btn-dark: #23272A;
    --bg-btn-dark-hover: #39393F;
    --bg-btn-colored: #5865f2;
    --bg-btn-colored-hover: #7287D5;
    --txt-footer-titles: #7289DA;
    --bg-input-field: #202225;
    --txt-login: #a7a9ac;
    --txt-required: #ff0000;
}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3rem;
}
.mainContent{
    max-width: 1650px;
    padding: 15px 15px;
    margin: 0 auto;
}
.debug{
    border: 2px solid yellow;
}
a{
    text-decoration: none;
    color: var(--txt-header-footer);

}
a:hover{
    text-decoration: underline;
}
.text-centered{
    text-align: center;
}
i{
    margin-right: 10px;
}
.fullscreen{
    width: 100%;
    height: 100%;
}
.total-width{
    width: 100%;
}
.little-rounded{
    border-radius: 7px;
}
.little-margin{
    margin-top: 1.3rem;
}
.link-margin{
    margin-top: 7px;
}
.border-elem-little-rounded{
    border-radius: 3px;
}
.input-height{
    height: 2.6rem;
}
.txt-color-link{
    color: #06a2e0;
}
.txt-align-left{
    float: left;
}
.required:after{
    content: '*';
    color: var(--txt-required);
    margin-left: 3px;
    font-size: 10px;
}

/*****************************************************************/
/**************************** Flexbox ****************************/
/*****************************************************************/
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.reverse-rows{
    flex-flow: row-reverse wrap;
}
.row-align-center{
    align-items: center;
}
.row-content-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.d-flex-center-hor-vert{
    align-content: center;
    justify-content: center;
}

/**************************************************************/
/**************************** List ****************************/
/**************************************************************/
.list ul{
    list-style: none;
}
.list ul li{
    min-width: 147px;
}

/**************************************************************/
/**************************** Logo ****************************/
/**************************************************************/
.logo{
    min-width: 124px;
}

/*****************************************************************/
/**************************** Buttons ****************************/
/*****************************************************************/
.btn{
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
}
.btn:hover{
    text-decoration: none;
    color: var(--bg-header);
    box-shadow: 0 0 5px 5px rgba(0,0,0,.15);
}
.light{
    background-color: var(--bg-btn-light);
    color: var(--txt-body);
}
.dark{
    background-color: var(--bg-btn-dark);
    color: var(--txt-header-footer);
}
#bodyLogin .dark{
    background-color: var(--bg-login);
}
.btn .dark:hover{
    color: var(--txt-header-footer);
    background-color: var(--bg-btn-dark-hover);
}
.colored{
    background-color: var(--bg-btn-colored);
    color: var(--txt-header-footer);
}
.colored:hover{
    background-color: var(--bg-btn-colored-hover);
    color: var(--txt-header-footer);
}

/******************************************************************************/
/******************************************************************************/
/********************************* Index.html *********************************/
/******************************************************************************/
/******************************************************************************/

/****************************************************************/
/**************************** Header ****************************/
/****************************************************************/
header{
    background-color: var(--bg-header);
    color: var(--txt-header-footer);
    padding-top: 2rem;
}
.logo, .login{
    width: 25%;
}
.login{
    text-align: right;
}
header .list{
    width: 50%;
}
header section{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: 50% 75%;
}
header section .textContainer{
    width: 40%;
    min-width: 400px;
    padding: 17rem 0 11rem 0;
}
header section div h1{
    font-size: 3.5rem;
    margin-bottom: 3rem;
}
header section div p{
    line-height: 2rem;
}
.buttons{
    padding: 1rem 0;
    gap: 1.5rem;
}

/**********************************************************************/
/**************************** Main content ****************************/
/**********************************************************************/
main{
    background-color: var(--bg-body-general);
    color: var(--txt-body);
}
main .bgAlternative{
    background-color: var(--bg-body-alternative);
}

/******************************************************************/
/**************************** Articles ****************************/
/******************************************************************/
.leftContent{
    width: 55%;
    min-width: 400px;
}
.rightContent{
    width: 45%;
    min-width: 300px;
}
.text h2, .description h2{
    font-size: 3.2rem;
    margin-top: 2rem;
}
.text{
    max-width: 500px;
    margin-left: 3rem;
}
.text p, .description p{
    font-size: 1.6rem;
    margin-top: 2rem;
}
article{
    padding: 2rem 1rem 2rem 1rem;
}
article img{
    float: right;
    width: 100%;
}
article .reverse-rows img{
    float: left;
}

/**************************************************************/
/**************************** Wave ****************************/
/**************************************************************/
.wave{
    height: 100px;
    background-image: url("../img/wave.svg");
    opacity: 0.04;
    margin-top: 6rem;;
}
.rotate{
    transform: rotate(180deg);
    margin-top: 0;
    margin-bottom: 6rem;
}

/****************************************************************************/
/**************************** Technology section ****************************/
/****************************************************************************/
.description{
    padding: 8rem 0 2rem 0;
}
.description h1, .description p{
    max-width: 1350px;
    margin: 2rem auto;
}
.description img{
    width: 100%;
}
article .mainContent{
    max-width: 1650px;
    margin: 0 auto;
}

/******************************************************************/
/**************************** Download ****************************/
/******************************************************************/
.download .stars{
    max-width: 500px;
    height: 3rem;
    margin: 0 auto;
    background-image: url("../img/stars.svg");
    background-size: contain;
    margin-bottom: -1rem;
}
.download h3{
    font-size: 1.45rem;
}
.download .btn{
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    display: inline-block;
}
.download{
    display: inline-block;
    margin-bottom: 4rem;
}

/****************************************************************/
/**************************** Footer ****************************/
/****************************************************************/
footer{
    background-color: var(--bg-footer);
    color: var(--txt-header-footer);
    font-size: 1rem;
    padding: 1rem 0;
}
footer .btn{
    padding: 7px 14px;
}
footer h3, footer h2{
    color: var(--txt-footer-titles);
    padding-top: 1rem;
}
footer li{
    padding: 1rem 0;
}
footer .list, footer .contacts{
    width: 15%;
}
.langs img{
    width: 20px;
    margin-right: 5px;
    margin-top: 1rem;
}
footer div .brands a:hover{
    text-decoration: none;
    cursor: pointer;
}
footer .contacts .d-flex{
    max-width: 200px;
    font-size: 1.5rem;
    padding: 1rem 0;
}
footer .contacts{
    min-width: 300px;
}
footer .list{
    min-width: 150px;
}
footer>div>div{
    border-top: 1px solid var(--bg-btn-colored);
    padding-top: 2rem;
}



/******************************************************************************/
/********************************* Login.html *********************************/
/******************************************************************************/

/*********************************************************************/
/************************** Body / Containers ************************/
/*********************************************************************/

body#bodyLogin{
    background-image: url("../img/bgLogin.jpg");
    background-size: cover;
    height: 100vh;
    font-size: 0.9rem;
}
#bodyLogin .mainContent{
    width: 70%;
    max-width: 890px;
    margin: 0 auto;
    padding: 3rem;
}
#bodyLogin .mainContent>div{
    width: 100%;
}
#bodyLogin>div>div{
    padding: 2rem;
    min-width: 400px;
    gap: 3rem;
}

/****************************************************************/
/************************* Login general ************************/
/****************************************************************/

#bodyLogin h2{
    margin-bottom: 0.6rem;
}
#bodyLogin p{
    color: var(--txt-login);
}

/****************************************************************/
/************************* Input column *************************/
/****************************************************************/

#bodyLogin .inputData{
    width: 60%;
    max-width: 420px;
    min-width: 350px;
}
.fieldMail, .fieldPassword{
    display: block;
}
.fieldMail p, .fieldPassword p{
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 7px;
}
#bodyLogin input[type="email"], #bodyLogin input[type="password"]{
    background-color: var(--bg-input-field);
    border: 0;
    caret-color: auto;
    color: var(--txt-login);
    font-size: 1rem;
    padding: 4px 10px;
}
#bodyLogin input[type="submit"]{
    font-size: 1rem;
}
#bodyLogin input:focus{
    outline: none;
}

/****************************************************************/
/*********************** Qr code column *************************/
/****************************************************************/

#bodyLogin .qrCode{
    width: 40%;
    max-width: 250px;
    min-width: 180px;
}
.qrCode p span{
    font-weight: 700;
}